body{
    margin: 0;
    padding: 0;
}

/* Shared Style */
.common-font{
    font-family: Poppins;
}

.common-btn{
    background-color: #E02C6D;
    color:white;
    padding:12px 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;

    transition: color 1s ease-in, background-color 1s ease-in;
}

.common-btn:hover{
    background-color: rgb(233, 104, 158);
    color: black;
}

.btn1{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}


/* Individual Style */

/* Navbar Area: */
.navbar-section{
    /* border: 1px solid blue; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-section h3{
    font-weight: 700;
    font-size: 2em;
}

.nav-menu ul{
    display: flex;
    gap:30px;
}

.nav-menu li{
    list-style: none;
}

.nav-menu a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    padding:5px;
    color: black;

    transition: color 1s ease-in, background-color 1s ease-in;
}

.nav-menu ul>li:nth-of-type(-n+4)>a:hover{
    color: white;
    background-color: blueviolet;
    padding:5px;
}

.nav-menu img{
    height: 20px;
}

/* Banner */
.banner-section{
    /* border: 1px solid blue; */
    max-width: 1188px;
    display: flex;
    justify-content: space-around;
    margin:0 auto;
}

.banner-details{
    /* border: 1px solid red; */
    max-width: 550px;
    margin-top: 80px;
}

.banner-details h3{
    font-weight: 700;
    font-size: 2.5rem;
}

.banner-details p{
    margin-top: -35px;
    font-weight: 600;
    font-size:0.8rem;
}

.banner-image{
    /* border: 1px solid chocolate; */
    max-width: 475px;
    display: flex;
}

.main-img{
    /* transform: scale(95%); */
    background-image: url('../images/Circle\ design.svg');
    background-position: center; /*For Set Background Image center position*/
    background-size: contain;    /*For Set Background Image Full Div*/
    background-repeat: no-repeat; /*For Set Background No Repeat*/
}

/* Social Media */
.social-media{
    /* border:2px solid orange; */
    max-width: 1110px;
    margin: 0 auto;
}

.all-platform{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}


/* Responsive Area */
/* For Mobile Display */
@media screen and (max-width:576px){
    .navbar-section{
        flex-direction: column;
        margin-bottom: 50px;
    }  
    
    .nav-menu{
        margin:0 auto;
        /* border:1px solid blue; */
    }

    .nav-menu ul{
        flex-direction: column;
    }

    .nav-menu ul li{
        text-align: center;
        /* border:1px solid red; */
        margin-left: -40px;
    }

    .banner-section{
        flex-wrap: wrap-reverse;
        /* border: 1px solid chocolate; */
        width: 90%;
        align-items: center;
        justify-content: center;
    }

    .banner-image{
        /* border: 2px solid blue; */
        width: 100%;
        transform: scale(60%);
        margin-top: -80px;
        margin-left: -50px;
    }

    .banner-details{
        /* border: 2px solid orchid; */
        width: 90%;
        text-align: center;
        margin-top: -120px;
    }

    .all-platform{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        place-items: center;
    }

}